html,
body {
  font-size: 100px;
  height: 100%;
  background-color: #f5f5f5;
}
.head {
  width: 100%;
  height: 0.4rem;
  display: block;
  margin-bottom: 0.1rem;
  z-index: 5;
}
.foot {
  z-index: 1;
  width: 100%;
  display: block;
  height: 1.3rem;
}
.waper {
  width: 100%;
}
.waper .search {
  font-size: 0.12rem;
  width: 2.88rem;
  height: 0.4rem;
  margin-bottom: 0.1rem;
  border: 1px solid #cccccc;
  background-color: #fff;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 3;
  z-index: 5;
  border-radius: 5px;
}
.waper .search img {
  display: block;
  width: 0.2rem;
  height: 0.2rem;
  margin-right: 0.2rem;
  padding-left: 0.1rem;
}
.waper .search .inp {
  padding-left: 0.05rem;
  font-size: 0.12rem;
  flex: 1;
  border: none;
  outline: none;
}
.waper .nav {
  margin-top: 0.1rem;
  font-size: 0.17rem;
  height: 0.42rem;
  line-height: 0.42rem;
  position: relative;
  z-index: 5;
}
.waper .nav > ul {
  display: flex;
  background-color: #fff;
}
.waper .nav > ul > li {
  height: 0.415rem;
  display: flex;
  width: 25%;
  justify-content: center;
  align-items: flex-start;
  color: #666666;
  font-weight: bold;
}
.waper .nav > ul > li .down {
  margin-top: 0.16rem;
  border-width: 0.05rem;
  margin-left: 0.05rem;
  border-color: #cccccc transparent transparent transparent;
  border-style: solid dashed solid dashed;
}
.waper .nav > ul > li .up {
  margin-top: 0.08rem;
  line-height: 0.2rem;
  border-width: 0.05rem;
  margin-left: 0.05rem;
  border-color: transparent transparent #ff8a00 transparent;
  border-style: solid dashed solid dashed;
}
.waper .nav > ul > li:first-child {
  position: relative;
}
.waper .nav > ul > li:first-child .area_hide {
  display: none;
  position: absolute;
  left: 0;
  top: 0.42rem;
  height: 2.94rem;
  z-index: 6;
  width: 100%;
  text-align: center;
  background-color: #F0F0F0;
}
.waper .nav > ul > li:first-child .area_hide ul li {
  font-size: 0.16rem;
}
.waper .nav > ul > li:first-child .area_hide ul li:first-child {
  position: relative;
}
.waper .nav > ul > li:first-child .area_hide ul li:first-child .area_list {
  position: absolute;
  top: 0;
  left: 100%;
  width: 300%;
  background-color: #fff;
}
.waper .nav > ul > li:first-child .area_hide ul li:first-child .area_list ul {
  overflow: hidden;
}
.waper .nav > ul > li:first-child .area_hide ul li:first-child .area_list ul li {
  font-size: 0.12rem;
  color: black;
  font-weight: normal;
  float: left;
  width: 50%;
}
.waper .nav > ul > li:first-child .area_hide ul li:last-child {
  position: relative;
}
.waper .nav > ul > li:first-child .area_hide ul li:last-child .subway_list {
  position: absolute;
  top: -0.42rem;
  left: 100%;
  width: 300%;
  background-color: #fff;
}
.waper .nav > ul > li:first-child .area_hide ul li:last-child .subway_list ul {
  overflow: hidden;
}
.waper .nav > ul > li:first-child .area_hide ul li:last-child .subway_list ul li {
  font-size: 0.12rem;
  color: black;
  font-weight: normal;
  float: left;
  width: 50%;
}
.waper .nav > ul > li:nth-child(2) {
  position: relative;
}
.waper .nav > ul > li:nth-child(2) .price_hide {
  position: absolute;
  left: -100%;
  top: 0.42rem;
  width: 400%;
  background-color: #fff;
}
.waper .nav > ul > li:nth-child(2) .price_hide ul {
  margin: 0 0.2rem;
}
.waper .nav > ul > li:nth-child(2) .price_hide ul li {
  font-size: 0.12rem;
  font-weight: normal;
  color: black;
  border-bottom: 1px solid #cccccc;
}
.waper .nav > ul > li:nth-child(2) .price_hide ul li:last-child {
  border: none;
}
.waper .nav > ul > li:nth-child(3) {
  position: relative;
}
.waper .nav > ul > li:nth-child(3) .home_list {
  position: absolute;
  left: -200%;
  top: 0.42rem;
  width: 400%;
  background-color: #fff;
  padding-bottom: 0.2rem;
}
.waper .nav > ul > li:nth-child(3) .home_list ul {
  margin: 0 0.2rem;
}
.waper .nav > ul > li:nth-child(3) .home_list ul li {
  font-size: 0.12rem;
  font-weight: normal;
  color: black;
  border-bottom: 1px solid #cccccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.waper .nav > ul > li:nth-child(3) .home_list ul li:last-child {
  border: none;
}
.waper .nav > ul > li:nth-child(3) .home_list .qd {
  display: block;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-size: 0.12rem;
  background-color: #FF8A00;
}
.waper .nav > ul > li:nth-child(4) {
  position: relative;
}
.waper .nav > ul > li:nth-child(4) .more_list {
  position: absolute;
  left: -300%;
  top: 0.42rem;
  width: 400%;
  background-color: #fff;
  padding-bottom: 0.2rem;
}
.waper .nav > ul > li:nth-child(4) .more_list .more_conten .title {
  font-size: 0.14rem;
  margin-left: 0.2rem;
}
.waper .nav > ul > li:nth-child(4) .more_list .more_conten ul {
  margin: 0 0.2rem;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px #cccccc solid;
}
.waper .nav > ul > li:nth-child(4) .more_list .more_conten ul li {
  text-align: center;
  height: 0.25rem;
  line-height: 0.25rem;
  font-size: 0.12rem;
  font-weight: normal;
  width: 21%;
  border: 1px solid #CCCCCC;
  margin-right: 0.1rem;
  margin-bottom: 0.15rem;
}
.waper .nav > ul > li:nth-child(4) .more_list .more_conten ul li:nth-child(4n) {
  margin-right: 0rem;
}
.waper .nav > ul > li:nth-child(4) .more_list .sure {
  display: block;
  width: 90%;
  height: 0.25rem;
  line-height: 0.25rem;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-size: 0.12rem;
  background-color: #FF8A00;
}
.waper .shophome {
  z-index: 2;
}
.waper .shophome ul {
  margin: 0 0.2rem;
}
.waper .shophome ul li {
  font-size: 0.13rem;
  padding: 0.15rem 0;
  display: flex;
  box-sizing: border-box;
  border-bottom: 1px solid #ff8a4f;
}
.waper .shophome ul li:last-child {
  border: none;
}
.waper .shophome ul li .img img {
  display: block;
  width: 0.82rem;
  height: 0.82rem;
}
.waper .shophome ul li .con {
  margin-left: 0.1rem;
}
.waper .shophome ul li .con .title {
  font-size: 0.15rem;
  color: black;
  font-weight: bold;
  margin-bottom: 0.15rem;
}
.waper .shophome ul li .con .sign {
  font-size: 0.12rem;
  color: #bfbfbf;
}
.waper .shophome ul li .con .sign span {
  color: #ff8a4f;
  font-weight: bold;
}
.waper .shophome ul li .con .date {
  font-size: 0.12rem;
  color: #bfbfbf;
}
.waper .layer {
  width: 100%;
  height: 108%;
  position: absolute;
  left: 0 ;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
